* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100px;
  height: 50px;
}

.close_nav,
.open_nav {
  font-size: 25px;
  position: fixed;
  top: 11px;
  left: 15px;
}

#container {
  height: 100vh;
  overflow: hidden;
}

/* #content {
  height: 100%;
  display: flex;
} */

#left {
  background-color: red;
  position: fixed;
  width: 20%;
  height: 100%;
  left: -100%;
  transition: 1s;
  flex: 1;
}

#main {
  background-color: #a23423;
  width: 100%;
  height: 100%;
  flex: 1;
}
.close_nav {
  display: none;
}

#check:checked ~ #left {
  left: 0px;
  float: right;

  background-color: green;
  transition: 1s;
}

#check:checked ~ #main {
  width: 80%;
  float: right;
}
